/Album.class
/Artist.class
/LibraryModel.class
/Main.class
/MusicStore.class
/Playlist.class
/Rating.class
/Song.class
/Source.class
/TestAlbum.class
/TestArtist.class
/TestLibraryModel.class
/TestPlaylist.class
/TestSong.class
/UI.class
